@use "sass:map";
@use "components/imports/variables";
@use "components/imports/colors.module";
@use "components/imports/breakpoints";
@use "components/typography";

html, body {
  height: 100%;
  width: 100%;
  background: colors.$bgColor;
  font-size: variables.$font-size;
  font-family: variables.$main-font;
  color: colors.$white;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  @include breakpoints.media-breakpoint-up(variables.$full-hd) {
      font-size: 16px;
  }
}

#__nuxt {
  width: 100%;
  height: 100%;
  > .v-application {
    width: 100%;
    height: 100%;
  }
}
.dashboardSidebar {
  z-index: 2026 !important;
}
.dashboardSidebar, .uiDashboardSidebarPlaceholder {
  min-width: 88px;
  width: 88px;
  max-width: min(250px, 25vw) !important;
  height: 100%;
  .cryptoDashboardLogo {
    padding: 0;
    padding-inline: 6px 16px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    img {
      height: 40px;
      min-height: 40px;
      width: auto;
    }
  }
  .dashboardSidebarContent {
    min-height: 400px;
  }
  @include breakpoints.media-breakpoint-down(variables.$min-width) {
    .dashboardSidebarContent {
      padding: 0;
      min-width: 50px;
      width: 50px;
      .cryptoDashboardLogo {
        white-space: normal;
      }
    }
  }
}

.dashboardContent {
  min-width: map.get(variables.$grid-breakpoints, variables.$min-width);
}

a {
  color: colors.$white;
  text-decoration: none;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(0, -50px);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(0, 50px);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: translate(-100px, 0);
}